/* (Để trống file này cũng được, 
  vì file page.tsx ở trên đã import 
  style từ 'app/quan-ly/dang-bai/page.module.css' rồi) */

/* (Hoặc anh copy nội dung file 'dang-bai/page.module.css' vào đây cho chắc cũng được ạ) */